build/
cmake-build/
release/
release.zip
.vs/
.vscode/
*.suo
*.user
*.VC.db
*.log
cmake_configure.log
cmake_build.log
CMakeUserPresets.json
CMakePresets.json
compile_commands.json
CMakeCache.txt
CMakeFiles/
Testing/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
.DS_Store
.env
.env.*
